@import "../../../assets/styles/2-tools/index";

.signin{
    @include layoutFlex();
    @include alignItems(stretch);
    &__left{
        background-image: url('/assets/images/signin-bk.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include flexFlex(0 0 0);
        @include device-md{
            @include flexFlex();
        }
    }
    &__right{
        background-color: #FFF;
        padding: 60px;
        @include flexFlex();
        @include layoutFlex();
        @include directionFlex(column);
        @include justifyContent(center);
        @include alignItems(stretch);
        @include device-md{
            @include flexFlex(0 0 490px);
        }
        form{
            padding: 20px;
        }
    }
    &__container{
        max-width: 420px;
        margin: 0 auto;
    }
    &__logo{
        width: 220px;
        @include alignSelf(center);
    }
}