<mat-dialog-content class="success-request flex-col-layout ai-center text-center flex-gap">
  <img src="/assets/images/checked.svg" width="160" alt="">
  <p><b>Su solicitud ha sido enviada satisfactoriamente!</b></p>
  <p class="text-muted">Estaremos evaluando sus datos de registro y pronto nos estaremos comunicaremos con usted.</p>
  <div class="fill-width flex-row-layout">
    <span class="flex"></span>
    <button mat-button color="primary" mat-dialog-close tabindex="-1">
      Cerrar
    </button>
  </div>
</mat-dialog-content>