<div class="information section-informative">
  <div>
      <p class="title">¿QUÉ ES COCOS?</p>
  </div>
  <div>
      <p>
            Cada vez somos más los que queremos probar nuevos restaurantes y además hacerlo ahorrando. 
            Por ello, hemos lanzado una nueva aplicación que permite reunir todos los descuentos de 
            gastronomía en un solo sitio.
       </p>
       <p>
            Cocos es una APP (100% peruana) que centraliza las promociones ofrecidas por 
            diferentes entidades bancarias y/o clubes de ofertas en una variedad de 
            establecimientos, facilitando así tu experiencia de búsqueda.
           
       </p>
  </div>
</div>