<div class="information section-informative">
  <div>
      <p class="title">¿QUÉ ES COCOS?</p>
  </div>
  <div>
      <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero magna, varius laoreet ultrices eu, 
            pharetra in elit. Sed tempor nisi ut ex maximus ultricies a et eros. Duis ac dictum enim. Class aptent 
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla euismod, enim quis
            porta semper, nibh tortor fringilla odio, quis posuere lectus ligula et mauris. Cras laoreet fringilla 
            gravida. Duis ac purus eget diam ultricies volutpat. Etiam faucibus fermentum turpis, sed commodo libero. 
            Donec.
      </p>
  </div>
</div>