<div class="branch-details fill-parent flex-col-layout ai-stretch">
  <form class="flex padding-y overflow-y scrollbar" [formGroup]="branchFG">    
    <mat-card>
      <mat-card-title>
        <button mat-icon-button type="button" routerLink="/admin/sucursales">
          <i class="material-icons">keyboard_backspace</i>
        </button>
        <span><b>{{ branch ? 'Editar sucursal' : 'Crear sucursal' }}</b></span>
      </mat-card-title>
      <mat-card-subtitle>
        Complete los siguiente datos para enviar su solicitud de creación
        de usuario al equipo de <i>COCOS</i>.
      </mat-card-subtitle>
      <mat-card-content class="flex-col-layout ai-stretch">
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Nombre" formControlName="name">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Dirección" formControlName="address">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Categorías" formControlName="subcategoryList" multiple>
            <mat-option *ngFor="let category of categoryList" [value]="category">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
            <w-mat-timepicker color="primary" [userTime]="exportTime" (userTimeChange)="exportime = $event"></w-mat-timepicker>
        </div>
        <div class="flex-row-layout jc-flex-end">
          <button mat-raised-button color="primary">
            Enviar solicitud
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
  </div>