<div class="branch-details fill-parent flex-col-layout ai-stretch">
  <form class="flex padding-y overflow-y scrollbar" [formGroup]="branchFG">    
    <mat-card>
      <mat-card-title>
        <button mat-icon-button type="button" routerLink="/admin/sucursales">
          <i class="material-icons">keyboard_backspace</i>
        </button>
        <span><b>{{ branch ? 'Editar sucursal' : 'Crear sucursal' }}</b></span>
      </mat-card-title>
      <mat-card-subtitle>
        Si desea designar la gestión de esta sucursal a alguien más, deberá contactar con el equipo de
        <i>COCOS</i> para la creación de un nuevo usuario exclusivo para este local.
      </mat-card-subtitle>
      <mat-card-content class="flex-col-layout ai-stretch">
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Nombre" formControlName="name">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Dirección" formControlName="address">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Categorías" formControlName="subcategoryList" multiple>
            <mat-option *ngFor="let category of categoryList" [value]="category">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Servicios" formControlName="serviceList" multiple>
            <mat-option *ngFor="let service of serviceList" [value]="service">
              {{service.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="flex-row-layout flex-gap">
            <w-mat-timepicker class="flex-50" color="primary" [userTime]="formatTime(branchFG.get('openTime').value)" 
            (userTimeChange)="setTime($event,branchFG.get('openTime'))" placeholder="Hora inicio">
            </w-mat-timepicker>
            <w-mat-timepicker class="flex" color="primary" [userTime]="formatTime(branchFG.get('closeTime').value)" 
            (userTimeChange)="setTime($event,branchFG.get('closeTime'))" placeholder="Hora Fin">
            </w-mat-timepicker>
        </div>
        <div class="flex-row-layout jc-flex-end">
          <button mat-raised-button color="primary">
            Enviar solicitud
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
  </div>