@import "../../../assets/styles/2-tools/index";

.discount-list{
    &__add{
        position: fixed;
        right: 15px;
        bottom: 15px;
    }
    .discounts-container{
        @include layoutFlex();
        @include flexWrap();
    }
    .discount{
        padding: 10px;
        @include flexFlex(0 0 100%);
        @include device-md{
            @include flexFlex(0 0 50%);
        }        
        &__image{
            position: relative;
            height: 200px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // margin-bottom: 0px;
        }
        &__name{
            padding: 8px;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            color: #FFF;
            font-size: 16px;
            background-color: rgba(#000,.4);
        }
        // mat-card-actions{
        //     @include layoutFlex();
        //     @include directionFlex(column);
        //     @include device-md{
        //         @include directionFlex(row);
        //         @include alignItems(center);
        //         .helper{
        //             @include flexFlex();
        //         }
        //     }
        // }
    }
}