<div class="cocos-app section-informative">
    <div>
        <p class="title">
            COCOS APP
        </p>
    </div>
    <div class="app-details-container">
        <div class="app-details">
            <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab>
                        <i class="material-icons">code</i>
                    </button>
                    <span>Excelente interfaz</span>
                </div>
                <div class="detail__description text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at arcu odio. Nulla vitae sapien tempus, 
                    mattis metus vitae, auctor ante. Suspendisse ornare nunc purus, quis luctus dolor congue sit.
                </div>
            </div>
            <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab>
                        <i class="material-icons">code</i>
                    </button>
                    <span>Excelente interfaz</span>
                </div>
                <div class="detail__description text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at arcu odio. Nulla vitae sapien tempus, 
                    mattis metus vitae, auctor ante. Suspendisse ornare nunc purus, quis luctus dolor congue sit.
                </div>
            </div>
            <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab>
                        <i class="material-icons">code</i>
                    </button>
                    <span>Excelente interfaz</span>
                </div>
                <div class="detail__description text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at arcu odio. Nulla vitae sapien tempus, 
                    mattis metus vitae, auctor ante. Suspendisse ornare nunc purus, quis luctus dolor congue sit.
                </div>
            </div>
        </div>
        <img class="app-preview" src="/assets/images/cocos-app.webp" alt="">
        <div class="app-details">
            <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab>
                        <i class="material-icons">code</i>
                    </button>
                    <span>Excelente interfaz</span>
                </div>
                <div class="detail__description text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at arcu odio. Nulla vitae sapien tempus, 
                    mattis metus vitae, auctor ante. Suspendisse ornare nunc purus, quis luctus dolor congue sit.
                </div>
            </div>
            <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab>
                        <i class="material-icons">code</i>
                    </button>
                    <span>Excelente interfaz</span>
                </div>
                <div class="detail__description text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at arcu odio. Nulla vitae sapien tempus, 
                    mattis metus vitae, auctor ante. Suspendisse ornare nunc purus, quis luctus dolor congue sit.
                </div>
            </div>
            <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab>
                        <i class="material-icons">code</i>
                    </button>
                    <span>Excelente interfaz</span>
                </div>
                <div class="detail__description text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at arcu odio. Nulla vitae sapien tempus, 
                    mattis metus vitae, auctor ante. Suspendisse ornare nunc purus, quis luctus dolor congue sit.
                </div>
            </div>
        </div>
    </div>
</div>