@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";

.cocos-app{
    .increase-your-sales{
        padding: 40px 0;
        font-size: 2em;
        text-align: center;
        position: relative;
        color: #5d5f61;
        display: block;
        width: fit-content;
        margin: 20px auto;
        font-family: $gotham-medium;
        .overlay{
            left: 50%;
            background-color: #f5f5f5;
            width: calc(100vw - 6px);
            @include transform(translateX(-50%));
        }
        &::before, &::after{
            content: '';
            background-color: currentColor;
            z-index: 2;
            position: absolute;
            height: 2px;
            width: 50px;
            top: 50%;
            @include transform(translateY(-50%));
        }
        &::before{
            right: calc(100% + 15px);
        }
        &::after{
            left: calc(100% + 15px);
        }
    }
    .app-details-container{
        @include layoutFlex();
        @include alignItems(start);
        @include directionFlex(column);
        @include device-md{
            @include alignItems(stretch);
            @include directionFlex(row);
        }
        .app-details{
            font-size: 14px;
            @include flexFlex();
            @include layoutFlex();
            @include justifyContent(space-around);
            @include directionFlex(column);
            .detail{
                padding: 15px 25px;
                &__title{
                    font-weight: bold;
                }
                &__description{
                    padding-left: 65px;
                }
                @include device-md{
                    // min-height: 170px;
                    // &:first-child{
                    //     margin-bottom: 40px;
                    // }
                }
            }
        }
        .app-preview{
            // max-width: 335px;
            display: none;
            @include device-md{
                height: 530px;
                display: block;
            }
        }
    }
    .get-app-container{
        padding: 30px 0;
        margin-top: 50px;
        .overlay{
            left: 50%;
            background-color: #f5f5f5;
            width: calc(100vw - 6px);
            @include transform(translateX(-50%));
        }
    }
    .get-app{
        max-width: 480px;
        margin: 0 auto 0;
        position: relative;
        @include device-lg{
            max-width: 635px;
            // background-color: #FFF;
            // background-image: url(/assets/images/cocos-hand.png);
            // background-size: contain;
            // background-repeat: no-repeat;
            // background-position: -110px center;
        }
        .app-phone{
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            width: auto;
            display: none;
            @include device-md{
                display: block;
            }
        }
        &__content{
            padding: 20px;
            position: relative;
            @include device-md{
                padding-left: 160px;
            }
            // p{
            //     @include borderRadius(15px);
            // }
        }
    }
}