<div class="cocos-app section-informative">
    <div class="increase-your-sales overlay-container">
        <div class="overlay"></div>
        <p>Aumenta tus VENTAS, piensa en COCOS</p> 
    </div>
    <!-- <div>
        <p class="title">
            COCOS APP
        </p>
    </div> -->
    <div class="app-details-container">
        <div class="app-details">
            <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab color="primary">
                        <i class="material-icons">search</i>
                    </button>
                    <span>Búsqueda</span>
                </div>
                <div class="detail__description">
                    Busca restaurantes por nombre o categoría    
                </div>
            </div>
            <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab color="primary">
                        <i class="material-icons">location_on</i>
                    </button>
                    <span>Localización</span>
                </div>
                <div class="detail__description">
                    Descubre cuáles quedan más cerca a ti
                </div>
            </div>
            <!-- <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab color="primary">
                        <i class="material-icons">code</i>
                    </button>
                    <span>Excelente interfaz</span>
                </div>
                <div class="detail__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at arcu odio. Nulla vitae sapien tempus, 
                    mattis metus vitae, auctor ante. Suspendisse ornare nunc purus, quis luctus dolor congue sit.
                </div>
            </div> -->
        </div>
        <img class="app-preview" src="/assets/images/app-cocos.jpg" alt="">
        <div class="app-details">
            <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab color="primary">
                        <i class="material-icons">local_offer</i>
                    </button>
                    <span>Descuentos</span>
                </div>
                <div class="detail__description">
                    Entérate qué descuentos puedes acceder en distintos restaurantes
                </div>
            </div>
            <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab color="primary">
                        <i class="material-icons">restaurant</i>
                    </button>
                    <span>Disfruta más</span>
                </div>
                <div class="detail__description">
                    Conoce nuevos lugares y hazlo ahorrando
                </div>
            </div>
            <!-- <div class="detail">
                <div class="detail__title flex-row-layout ai-center flex-gap">
                    <button mat-fab color="primary">
                        <i class="material-icons">code</i>
                    </button>
                    <span>Excelente interfaz</span>
                </div>
                <div class="detail__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at arcu odio. Nulla vitae sapien tempus, 
                    mattis metus vitae, auctor ante. Suspendisse ornare nunc purus, quis luctus dolor congue sit.
                </div>
            </div> -->
        </div>
    </div>
    <div class="get-app-container overlay-container">
            <div class="overlay"></div>
        <mat-card class="get-app text-center">
            <img class="app-phone" src="/assets/images/cocos-hand.png" alt="" width="150">
            <div class="get-app__content">
                <p>¡Ya no te perderás más descuentos porque la información está distribuida en diferentes plataformas!<br>
                    Descarga <b>COCOS</b> aquí:</p>
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                    <a href="https://play.google.com/store/apps/details?id=com.cerezaconsulting.cocosapp" target="_blank"
                    class="padding-10">
                        <img src="/assets/images/google-play.png" alt="" height="60">
                    </a>
                    <!-- <a href="https://www.apple.com/la/ios/app-store/" target="_blank"
                    class="padding-10">
                        <img src="/assets/images/app-store.png" alt="" height="60">
                    </a> -->
                </div>
            </div>
        </mat-card>
    </div>
</div>