<div class="signup fill-parent flex-col-layout ai-stretch">
  <mat-toolbar color="primary" class="flex-row-layout ai-center">
    <span class="toolbar__brand">COCOS ADMIN</span>
  </mat-toolbar>
  <form class="flex padding-y overflow-y scrollbar" [formGroup]="signupFG">
    <mat-card>
      <mat-card-title>Registro</mat-card-title>
      <mat-card-content class="flex-col-layout ai-stretch">
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Nombres" formControlName="firstName">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Apellidos" formControlName="lastName">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="RUC" formControlName="ruc">
          <mat-error>RUC inválido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Razón social" formControlName="businessName">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea cols="3" matInput placeholder="Comentarios" formControlName="comments"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="password" matInput placeholder="Contraseña" formControlName="password">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="password" matInput placeholder="Repita su contraseña" formControlName="confirmPassword">
          <mat-error>Las contraseñas no coinciden</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Email" formControlName="email">
          <mat-error>Email inválido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Celular" formControlName="phone">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <div class="flex-row-layout jc-flex-end">
          <button mat-raised-button color="primary">
            Registrar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>