<div class="signup fill-parent flex-col-layout ai-stretch">
  <div class="signup__bk"></div>
  <mat-toolbar color="primary" class="flex-row-layout ai-center">
    <span class="toolbar__brand">COCOS ADMIN</span>
  </mat-toolbar>
  <form class="flex padding-y overflow-y scrollbar" [formGroup]="signupFG">    
    <mat-card>
      <mat-card-title>
        <button mat-icon-button type="button" routerLink="/admin/auth">
          <i class="material-icons">keyboard_backspace</i>
        </button>
        <span><b>Registro</b></span>
      </mat-card-title>
      <mat-card-subtitle>
        Complete los siguiente datos para enviar su solicitud de creación
        de usuario al equipo de <i>COCOS</i>.
      </mat-card-subtitle>
      <mat-card-content class="flex-col-layout ai-stretch">
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Nombres" formControlName="firstName">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Apellidos" formControlName="lastName">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="RUC" formControlName="ruc">
          <mat-error>RUC inválido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Razón social" formControlName="businessName">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea cols="4" matInput placeholder="¿Qué actividades realiza su negocio?" formControlName="comments"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="password" matInput placeholder="Contraseña" formControlName="password">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="password" matInput placeholder="Repita su contraseña" formControlName="confirmPassword">
          <mat-error>Las contraseñas no coinciden</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Email" formControlName="email">
          <mat-error>Email inválido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Celular" formControlName="phone">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <div class="flex-row-layout jc-flex-end">
          <button mat-raised-button color="primary">
            Enviar solicitud
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>