<div class="discount-details fill-parent flex-col-layout ai-stretch">
  <form class="flex padding-y overflow-y scrollbar" [formGroup]="discountFG" (submit)="onConfirm()">    
    <mat-card>
      <mat-card-title>
        <button mat-icon-button type="button" goToBack>
          <i class="material-icons">keyboard_backspace</i>
        </button>
        <span><b>{{ discount ? 'Editar descuento' : 'Crear descuento' }}</b></span>
      </mat-card-title>
      <mat-card-content class="flex-col-layout ai-stretch">
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Nombre" formControlName="name">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput placeholder="Descripción" formControlName="description">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea autocomplete="off" type="text" matInput placeholder="Términos y condiciones" rows="6"
          formControlName="termsAndConditions"></textarea>
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="number" matInput placeholder="Porcentaje (sin %)" formControlName="percentage">
          <span matSuffix><h3>%</h3></span>
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="number" matInput placeholder="Precio" formControlName="price">
          <mat-error>Requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Asociar a la sucursal" formControlName="branch">
            <mat-option *ngFor="let branch of branchList" [value]="branch">
              {{branch.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="mat-form-field flex-col-layout flex-gap ai-stretch">
          <p><b>Tarjeta asociada al descuento (opcional):</b></p>
          <mat-radio-group class="cards-container flex-col-layout flex-gap scrollbar" formControlName="card">
            <mat-radio-button *ngFor="let card of cardList" [value]="card" color="primary">
              <div class="flex-row-layout ai-center flex-gap">
                  <img [src]="card.photo.imageUrl" [attr.alt]="card.name" width="40">
                  <span>{{card.name}}</span>
              </div>
            </mat-radio-button>
          </mat-radio-group>
          <div class="flex-row-layout">
            <span class="flex"></span>
            <button type="button" mat-button color="primary" (click)="clearCards()">
              LIMPIAR SELECCIÓN
            </button>
          </div>
        </div>
        <div class="mat-form-field photos-container">
          <div class="photos-container__title">
            <b>Carga de imágenes (máx. {{ maxPhotoQuantity }})</b>
          </div>
          <div class="flex-row-layout flex-wrap ai-stretch">
              <ng-container *ngFor="let image of photoListFA.controls; let i = index;">
                  <div class="photo-container animated fadeIn" *ngIf="!image.value.forDelete">
                    <div class="photo" (click)="photoInputChange.click()"
                    [style.backgroundImage]="getPhotoBackground(image.value.imageUrl)">
                      <input #photoInputChange class="hide" type="file" (change)="changePhoto($event,i)">
                      <div class="delete" *ngIf="image.value.imageUrl"
                      (click)="$event.stopPropagation();onDeleteImage(image.value,i)">
                        <i class="material-icons">close</i>
                      </div>
                    </div>
                  </div>
              </ng-container>
              <div class="photo-container">
                  <div class="add-photo" (click)="photoInputAdd.click()"
                  [ngClass]="{ 'disabled': nonDeleteImagesCount==maxPhotoQuantity }">
                  <!-- <button mat-icon-buton type="button" [disabled]="nonDeleteImagesCount==maxPhotoQuantity"> -->
                    <i class="material-icons">add</i>
                  <!-- </button> -->
                  <input #photoInputAdd class="hide" type="file" (change)="addPhoto($event)" 
                  [disabled]="nonDeleteImagesCount==maxPhotoQuantity">
                  </div>
              </div>            
          </div>
        </div>
        <div class="flex-row-layout jc-flex-end">
          <button mat-raised-button color="primary">
            Guardar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
  </div>