<div class="footer">
  <!-- <div class="flex-col-layout ai-center flex-gap">
    <h4>Súscribete a nuestras novedades!</h4>
    <input type="text" placeholder="Tu correo @">
  </div> -->
  <div class="links flex-row-layout jc-center flex-wrap">
    <a href="/assets/files/Terminos.pdf" target="_blank" class="cc-link">Términos y condiciones</a>
    <a href="/assets/files/Politicas.pdf" target="_blank" class="cc-link">Políticas y privacidad</a>
  </div>
  <div class="copyright">
    <small>COCOS web © copyright 2018 - Desarrollado por 
      <a href="#" 
      target="_blank" class="cc-link">Grupo RSquared SAC</a></small>
  </div>
</div>