<div class="affiliate section-sides">
    <div class="section-left">
        <p class="title text-primary">AFILIA TU RESTAURANTE A COCOS!</p>
    </div>
    <div class="section-right flex-col-layout flex-gap ai-stretch">
        <p>
            COCOS cuenta con una aplicación móvil y plataforma WEB que brinda a
            las organizaciones poder ofrecer sus descuentos y ofertas a fin de 
            llegar a más clientes.
        </p>
        <!-- <img src="/assets/images/admin-preview.png" alt=""> -->
        <img class="preview" src="/assets/images/admin-preview-2.png">
        <div class="flex-col-layout ai-center flex-gap">
            <button class="lnd-btn" routerLink="/auth/signup">
                Afíliate!
            </button>
            <button class="lnd-btn" routerLink="/auth">
                Afiliado? Ingresa!
            </button>
        </div>
    </div>
</div>