<div class="affiliate section-sides">
    <div class="section-left">
        <p class="title text-primary">AFÍLIATE A COCOS!</p>
    </div>
    <div class="section-right flex-col-layout flex-gap ai-stretch">
        <p>
            COCOS cuenta con una plataforma web que permite a los usuarios
            poder gestionar sus restaurantes y descuentos, mejorando así
            la presencia de sus restaurantes en los usuario de la APP de COCOS.
        </p>
        <!-- <img src="/assets/images/admin-preview.png" alt=""> -->
        <img class="preview" src="/assets/images/admin-preview-2.png">
        <div class="flex-col-layout ai-center flex-gap">
            <button class="lnd-btn" routerLink="/auth/signup">
                <b>Afíliate!</b>
            </button>
            <button class="lnd-btn" routerLink="/auth">
                Afiliado? Ingresa!
            </button>
        </div>
    </div>
</div>