<div class="menu-popup fill-height">
  <button mat-icon-button class="closer" mat-dialog-close>
    <i class="material-icons md-36">
      close
    </i>
  </button>
  <ul class="links-container fill-height flex-col-layout jc-space-around ai-center">
    <li class="cc-link"><a scroll-to=".information" href="!#">Nosotros</a></li>
    <!-- <li class="cc-link"><a scroll-to=".team" href="!#">El equipo</a></li> -->
    <li class="cc-link"><a scroll-to=".cocos-app" href="!#">App Cocos</a></li>
    <li class="cc-link"><a scroll-to=".affiliate" href="!#">Afíliate!</a></li>
    <li class="cc-link"><a scroll-to=".contact-us" href="!#">Contáctanos</a></li>
  </ul>
</div>