$global-color: #676a6c;
$backdrop-color: #f3f3f4;

$color-primary: #ff5332;
$color-primary-lighter: #e00000;//lighten($color-primary, 5%);
$color-primary-darker: #a50000;

$color-accent-lighter: #d9452b;
$color-accent: #A00000;
$color-accent-darker: #6b0000;

$color-warn: #f44336;
$color-warn-lighter: lighten($color-warn,35%);