$global-color: #676a6c;
$backdrop-color: #f3f3f4;

$color-primary: #1e88e5;
$color-primary-lighter: #6ab7ff;//lighten($color-primary, 5%);
$color-primary-darker: #005cb2;

$color-accent-lighter: #ef6c00;
$color-accent: #ff9d3f;
$color-accent-darker: #b53d00;

$color-warn: #f44336;
$color-warn-lighter: lighten($color-warn,35%);