$global-color: #676a6c;
$backdrop-color: #f3f3f4;

$color-primary: #03a9f4;
$color-primary-lighter: #67daff;//lighten($color-primary, 5%);
$color-primary-darker: #007ac1;

$color-accent-lighter: #fffe6b;
$color-accent: #f4cb37;
$color-accent-darker: #bd9b00;

$color-warn: #f44336;
$color-warn-lighter: lighten($color-warn,35%);