<div class="header flex-row-layout ai-center">
  <img scroll-to=".intro" class="logo" src="/assets/images/logo-label.png" alt="">
  <div class="flex flex-row-layout">
    <span class="flex"></span>
    <ul class="menu  hide-xs hide-sm">
      <li class="cc-link"><a scroll-to=".information" href="!#">Nosotros</a></li>
      <!-- <li class="cc-link"><a scroll-to=".team" href="!#">El equipo</a></li> -->
      <li class="cc-link"><a scroll-to=".cocos-app" href="!#">Cocos app</a></li>
      <li class="cc-link"><a scroll-to=".affiliate" href="!#">Afíliate!</a></li>
      <li class="cc-link"><a scroll-to=".contact-us" href="!#">Contáctanos</a></li>
    </ul>
    <button class="hide-md hide-lg hide-xl" mat-icon-button (click)="onOpenMenu()">
      <i class="material-icons md-36">
        menu
      </i>
    </button>
  </div>
</div>