@import "../../../assets/styles/1-settings/index.scss";
@import "../../../assets/styles/2-tools/index.scss";
@import '~@angular/material/theming';

.header{
    color: #FFF;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 20px 20px;
    width: 100%;
    z-index: 9;
    color: #000;    
    @include transition2(all .2s linear);
    @include animationDuration(.2s !important);
    .logo-black{
        display: none;
    }
    &--fixed{
        // background-color: $color-primary;
        color: #FFF;    
        background-color: rgba(0,0,0,.4);
        position: fixed;
        padding: 8px 20px;
        // @include mat-elevation(2);
        .logo-white{
            display: none;
        }
        .logo-black{
            display: block;
        }
    }
    .logo{
        height: 50px;
    }
    .menu{
        li{
            display: inline-block;
            margin: 0 8px;
            font-size: 18px;
            position: relative;
            // font-weight: bold;
        }
    }
}