<form class="contact-us section-sides" [formGroup]="contactFG" (submit)="onSend()">
    <div class="fill-width">
        <h3 class="text-primary">Contáctanos</h3>    
        <div class="flex-row-layout ai-stretch fill-width flex-wrap">
            <div class="section-left flex-50 flex-col-layout ai-stretch">
                <div class="name">
                    <h4>Tu nombre</h4>
                    <input type="text" formControlName="name">
                </div>
                <div class="name">
                    <h4>Tu correo</h4>
                    <input type="text" formControlName="email">
                </div>
                <div class="flex-row-layout padding-10-y hide-xs hide-sm">
                    <span class="flex"></span>
                    <button class="lnd-btn flex-row-layout ai-center flex-gap" [disabled]="loading">
                        <i class="material-icons">send</i>
                        <span>ENVIAR</span>
                    </button>
                </div>
            </div>
            <div class="section-right flex">
                <h4>Tu mensaje</h4>
                <textarea rows="10" formControlName="message"></textarea>
            </div>
        </div>
    </div>
    <div class="flex-row-layout padding-10-y hide-md hide-lg hide-xl">
        <span class="flex"></span>
        <button class="lnd-btn flex-row-layout ai-center flex-gap" [disabled]="loading">
            <i class="material-icons">send</i>
            <span>ENVIAR</span>
        </button>
    </div>
</form>