<h2 mat-dialog-title>Recuperar contraseña</h2>
<mat-dialog-content>
  <form class="flex-col-layout ai-stretch" [formGroup]="recoverPasswordFG" (submit)="onConfirm()">
    <mat-form-field>
      <input type="text" matInput placeholder="Ingrese su correo de registro" formControlName="email">
      <mat-error>Correo no válido</mat-error>
    </mat-form-field>
    <div *ngIf="sent">
      Su petición ha sido enviada. Si el correo ingresado es el mismo de su registro,
      recibirá un email.
    </div>
    <div class="flex-row-layout">
      <span class="flex"></span>
      <button mat-raised-button color="primary" *ngIf="!sent">
        Recuperar
      </button>
      <button mat-button color="primary" *ngIf="sent" mat-dialog-close>
        Cerrar
      </button>
    </div>
  </form>

</mat-dialog-content>